<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('include/include', {title: 'Home'}) %>
  </head>
  <body>
    <h1>Main Page</h1>

    <% if (isLogin) { %>
    <p><%=user%>๋ ํ์ํฉ๋๋ค ๐๐ป</p>
    <a href="/logout">๋ก๊ทธ์์</a>
    <% } else { %>
    <p>๋ฉ์ธ ํ์ด์ง์๋๋ค.๐</p>
    <a href="/signup">ํ์๊ฐ์</a>
    <a href="/login">๋ก๊ทธ์ธ</a>
    <% } %>
  </body>
</html>
